version: "3.9"

services:
  db:
    image: postgres:17
    container_name: postgres-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/sgt_bd.sql

  backend:
    build: ./backend
    container_name: backend-api
    ports:
      - "8001:8000"
    volumes:
      - ./backend/app:/app
    depends_on:
      - db
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
