@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.criar-tarefa {
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 190, 190);
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 300px;
    height: 130px;
    font-family: 'Open Sans', sans-serif;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}

button {
    border-radius: 5px;
    cursor: pointer;
}