.inputs-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%
}

.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  gap: 0px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.login {
  width: 200px;
  height: 150px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.logar {
  width: 85%;
  height: 25%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
}

.sem-cadastro {
  font-size: 13px;
}

.mensagem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}

.mensagem-status-conexao {
  font-weight: bold;
  font-size: 13px;
}